body {
  background-color: #1f2937;
}

.header {
  overflow: hidden;
}

.header a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header .logo {
  width: 5%;
  height: auto;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
}

.first {
  display: flex;
}
.right {
  flex: 1;
}
.left {
  flex: 1;
  color: #f9faf8;
}

.b1 {
  background-color: #3b82f6;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 7px;
  font-size: 24px;
}
